In [31]:
import pandas as pd
import json
import re
from github import Github
import os
import pprint
import time

pp = pprint.PrettyPrinter()

# github login
g = Github(os.environ["GITHUB_ACCESS_KEY"])

RATE_LIMIT_INTERVAL = 60 * 60 / 5000 + 0.2

In [2]:
# get github repos - sort by company
gh = pd.read_csv("paper_github_repos_r.csv")

In [3]:
gh['company'] = gh['company'].astype(str)
gh

,link,company,repo
0,github.com/d3/d3,d3,d3
1,github.com/GSA/data,gsa,data
2,github.com/mbostock/d3,mbostock,d3
3,github.com/apache/airflow,apache,airflow
4,github.com/bitcoin/bitcoin,bitcoin,bitcoin
...,...,...,...
159151,github.com/takeshi-teshima/incorporating-causa...,takeshi-teshima,incorporating-causal-graphical-prior-knowledge...
159152,github.com/MuhammadMiqdadKhan/Improvement-of-Q...,muhammadmiqdadkhan,improvement-of-quantum-circuits-using-h-u-h-sa...
159153,github.com/iqranaz240/Improvement-of-Quantum-C...,iqranaz240,improvement-of-quantum-circuits-using-h-u-h-sa...
159154,github.com/PolyuWirelessCommunicationLab/Detec...,polyuwirelesscommunicationlab,detection-of-abrupt-change-in-channel-covarian...
159155,github.com/francesco-sovrano/from-philosophy-t...,francesco-sovrano,from-philosophy-to-interfaces-an-explanatory-m...

In [9]:
# get vis data to match
vs = pd.read_csv("vis_data_r.csv")

In [10]:
vis_companies = pd.DataFrame(list(vs["name"].value_counts().keys()), columns = ["company"])
vis_companies["company"] = vis_companies["company"].astype(str)

In [11]:
vis_companies["company"]

0                 chenega corp
1                       megvii
2                     synyi ai
3                   100 credit
4            wedoctor (guahao)
                 ...
1385        darden restaurants
1386           orbital insight
1387           church & dwight
1388    cadence design systems
1389        sewp solutions llc
Name: company, Length: 1390, dtype: object

In [12]:
github_companies = gh["company"].value_counts()
github_companies

facebookresearch    477
microsoft           417
google              276
ibm                 198
cran                164
                   ...
pmix                  1
pneuvial              1
pnieves2019           1
pohleric              1
iqranaz240            1
Name: company, Length: 92435, dtype: int64

In [13]:
ct = pd.DataFrame(gh["company"].value_counts().keys(), columns=["company"])
# ct = ct.head(50) # temp tester

In [ ]:
# should change to 2500 because I'm querying 2 at once...

In [32]:
# get all 
# 92435 total / 4500 = 20.5411111, total sleep time 20 hours
counter = 1
names = []
for i in ct["company"]:
    print(counter, i)
    counter += 1
    time.sleep(RATE_LIMIT_INTERVAL)
#     if counter % 4500 == 0:
#         time.sleep(60*60) # sleep 1 hr
        
    try:
        companydata = g.get_organization(i)
        names.append([i, companydata, "o"])
    except:
        try:
            userdata = g.get_user(i)
            names.append([i, userdata, "u"])
        except:
            names.append([i, None, None])

1 facebookresearch
2 microsoft

KeyboardInterrupt:

In [35]:
names

[['facebookresearch', Organization(login="facebookresearch"), 'o']]

In [34]:
g = names[1][1]

IndexError: list index out of range

In [26]:
g.updated_at

datetime.datetime(2021, 3, 18, 18, 50, 55)

In [29]:
import pickle
with open('names.pkl', 'wb') as f:
    pickle.dump(names, f)

In [70]:
nm = pd.DataFrame(names, columns = ["github_url", "github_name", "type"])

In [71]:
nm["type"].value_counts()

u    45436
c     8573
Name: type, dtype: int64

In [49]:
gh[gh["company"] == "opendaylhght"]

                                link       company   repo
60457  github.com/opendaylhght/ovsdb  opendaylhght  ovsdb

In [74]:
# determine if it's a user or company first before this process
# process_company("qengineering")
# process_user("qengineering")
# process_user("benedekrozemberczki")
# revise this process...

In [18]:
os.environ["GITHUB_ACCESS_KEY"]

'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'

In [77]:
selection = nm[nm["type"] == "c"]

In [93]:
nm[nm["type"] == "u"]

                github_url           github_name type
12              lucidrains             Phil Wang    u
39     benedekrozemberczki  Benedek Rozemberczki    u
44               rickyhong                  None    u
46            qengineering         Q-engineering    u
49               basiralab            BASIRA LAB    u
...                    ...                   ...  ...
92429          plewczynski   Dariusz Plewczynski    u
92431             pneuvial        Pierre Neuvial    u
92432          pnieves2019          Pablo Nieves    u
92433             pohleric             Eric Pohl    u
92434           iqranaz240              Iqra Naz    u

[45436 rows x 3 columns]

In [78]:
selection

             github_url                      github_name type
0      facebookresearch                    Meta Research    c
1             microsoft                        Microsoft    c
2                google                           Google    c
3                   ibm  International Business Machines    c
4                  cran                             None    c
...                 ...                              ...  ...
92392              qgis                             QGIS    c
92420        phenopolis                       Phenopolis    c
92421          phi-grib                         Phi GRIB    c
92428        playcanvas                       PlayCanvas    c
92430              pmix                             PMIx    c

[8573 rows x 3 columns]

In [92]:
nm.to_csv("github_names.csv",index=False)

In [79]:
selection['github_name'] = selection['github_name'].str.lower()
selection

<ipython-input-79-155740c8b4ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selection['github_name'] = selection['github_name'].str.lower()

             github_url                      github_name type
0      facebookresearch                    meta research    c
1             microsoft                        microsoft    c
2                google                           google    c
3                   ibm  international business machines    c
4                  cran                             None    c
...                 ...                              ...  ...
92392              qgis                             qgis    c
92420        phenopolis                       phenopolis    c
92421          phi-grib                         phi grib    c
92428        playcanvas                       playcanvas    c
92430              pmix                             pmix    c

[8573 rows x 3 columns]

In [81]:
ls = vs["name"].drop_duplicates()
ls = pd.DataFrame(ls)
ls

                                                name
0                                         100 credit
9                                            17zuoye
15                                       4thparadigm
22                                    abc technology
28                                             abeja
...                                              ...
3867                facility services management inc
3869                 aircraft readiness alliance llc
3872  enterprise resource planning international llc
3875                 mclaughlin research corporation
3878                              sewp solutions llc

[1390 rows x 1 columns]

In [87]:
result = ls.merge(selection, how="left", left_on="name", right_on="github_name")
result[result["github_name"].notnull()]
len(result[result["github_name"].notnull()])

52

In [107]:
selection

             github_url                      github_name type
0      facebookresearch                    meta research    c
1             microsoft                        microsoft    c
2                google                           google    c
3                   ibm  international business machines    c
4                  cran                             None    c
...                 ...                              ...  ...
92392              qgis                             qgis    c
92420        phenopolis                       phenopolis    c
92421          phi-grib                         phi grib    c
92428        playcanvas                       playcanvas    c
92430              pmix                             pmix    c

[8573 rows x 3 columns]

In [109]:
selection[selection["github_url"].str.contains("charles")]

Empty DataFrame
Columns: [github_url, github_name, type]
Index: []

In [ ]:
# remove [space] llc, inc, lp

In [94]:
result[300:350]

                             name   github_url  github_name type
300              american express          NaN          NaN  NaN
301              amplify partners          NaN          NaN  NaN
302                analog devices          NaN          NaN  NaN
303                        antuit          NaN          NaN  NaN
304                     app annie          NaN          NaN  NaN
305             applied materials          NaN          NaN  NaN
306                         aptiv          NaN          NaN  NaN
307        aqr capital management          NaN          NaN  NaN
308                           arm          NaN          NaN  NaN
309            arxis capital, llc          NaN          NaN  NaN
310                   astrazeneca  astrazeneca  astrazeneca    c
311   athena capital research llc          NaN          NaN  NaN
312                    atomo, inc          NaN          NaN  NaN
313                        aucode          NaN          NaN  NaN
314                      autodesk          NaN          NaN  NaN
315                      autox.ai          NaN          NaN  NaN
316                           b12          NaN          NaN  NaN
317                bay labs, inc.          NaN          NaN  NaN
318                  benevolentai          NaN          NaN  NaN
319                       bidgely          NaN          NaN  NaN
320        bionano genomics, inc.          NaN          NaN  NaN
321                     blackfynn          NaN          NaN  NaN
322                     blackrock          NaN          NaN  NaN
323                  bloomberg lp          NaN          NaN  NaN
324                      bluerisc          NaN          NaN  NaN
325  booth bay area angel network          NaN          NaN  NaN
326           booz allen hamilton          NaN          NaN  NaN
327                            bp          NaN          NaN  NaN
328                    brain, llc          NaN          NaN  NaN
329        bridgewater associates          NaN          NaN  NaN
330                   buoy health          NaN          NaN  NaN
331                   capital one   capitalone  capital one    c
332               capsen robotics          NaN          NaN  NaN
333                        vidado          NaN          NaN  NaN
334               carbon robotics          NaN          NaN  NaN
335                     caspar ai          NaN          NaN  NaN
336              challenge israel          NaN          NaN  NaN
337      charles river associates          NaN          NaN  NaN
338              cheeky scientist          NaN          NaN  NaN
339          cheeseburger therapy          NaN          NaN  NaN
340                    chegg inc.          NaN          NaN  NaN
341          circuit therapeutics          NaN          NaN  NaN
342             cisco systems inc          NaN          NaN  NaN
343                   citadel llc          NaN          NaN  NaN
344                  city of zion          NaN          NaN  NaN
345                      citybldr          NaN          NaN  NaN
346                      clarifai     clarifai     clarifai    c
347            clarion healthcare          NaN          NaN  NaN
348                      climbtag          NaN          NaN  NaN
349                   clinc, inc.          NaN          NaN  NaN

In [162]:
list(g.search_users("s", type="org")) #, per_page=2, page=2)) # [0] #

RateLimitExceededException: 403 {"message": "API rate limit exceeded for user ID 46911616.", "documentation_url": "https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

In [137]:
d.bio

RateLimitExceededException: 403 {"message": "API rate limit exceeded for user ID 46911616.", "documentation_url": "https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

In [113]:
g.search_users??

In [154]:
g.rate_limiting_resettime

1650383095

In [160]:
(time.time() - g.rate_limiting_resettime)/60 # in minutes

-0.4730536063512166